#root {
  max-width: 1280px;
  width: 100%;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

.container {
  max-width: 800px;
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container > .header {
  flex-shrink: 0;
}

.container > .footer {
  flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
  .container {
    color: rgba(255, 255, 255, 0.9);
  }
}
